<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/lib/bootstrap/css/bootstrap.css" />

    <title>Мини-Маркет</title>
</head>
<div>
  @RenderBody()
</div>
 <div>@Html.ActionLink("На главную", "Index","Client")</div>
 <div>@Html.ActionLink("Админ панел", "Index", "Home")</div>
