@{
    ViewData["Title"] = "Home Page";
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Главная</title>
    <link rel="stylesheet" href="/liЬ/bootstrap/dist/css/bootstrap.css" />
</head>
<body>
    <div class="center-block">
        <a class="btn btn-primary" asp-action="Create">Добавить</a>
        <a class="btn btn-primary" asp-action="ShowDate">Показать всех</a>
    </div>

</body>
</html>
